---
# -- Values passed to the argo-cd chart
argo-cd:
  controller:
    metrics:
      serviceMonitor:
        enabled: true
      rules:
        enabled: true
        spec:
          - alert: ArgoAppMissing
            expr: |
              absent(argocd_app_info)
            for: 15m
            labels:
              severity: critical
            annotations:
              summary: "[Argo CD] No reported applications"
              description: >
                Argo CD has not reported any applications data for the past 15 minutes which
                means that it must be down or not functioning properly.  This needs to be
                resolved for this cloud to continue to maintain state.
          - alert: ArgoCDSync
            expr: label_replace(argocd_app_info{sync_status!="Synced"}, "namespace", "$1", "dest_namespace", "(.*)") > 0
            for: 60m
            labels:
              severity: warning
            annotations:
              summary: "{{$labels.name}} Application not synchronized"
              description: |
                {{ "Sync status: {{ $labels.sync_status }}" }}
                {{ "Health status: {{ $labels.health_status }}" }}
                {{ "Namespace: {{ $labels.dest_namespace }}" }}
                {{ "Application: {{ $labels.name }}" }}
                {{ "Project: {{ $labels.project }}" }}
                {{ "Repository: {{ $labels.repo }}" }}
